%section{id: "bottom"}
  - tracks.each do |track|
    %div.media{:plangular=>true, style: "display: inline-flex;", class: "player", "data-src" => "#{track.src}" }
      .bd
        .media
          %a.img{:href => "", "ng-click" => "player.play(track)", "ng-hide" => "player.playing == track"}
            %img.img{"ng-src" => "{{ track.artwork_url }}", class: "img-circle"}
          %a.img{:href => "", "ng-click" => "player.pause()", "ng-show" => "player.playing == track"}
            %div{"plangular-icon" => "pause", class: "icon icon-gray"}
          .bd
            %p{"ng-show" => "player.playing == track"} {{ track.user.username }}
            %a{"ng-show" => "player.playing == track", "ng-href" => "{{ track.permalink_url }}"} {{ track.title }}
          %small{"ng-show" => "player.playing == track"} {{ currentTime | playTime }} | {{ duration | playTime }}

-#            %div{"plangular-icon" => "play", class: "icon icon-gray"}
