!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title SoundShuffle
    = stylesheets
    = javascripts
    %script(src="http://connect.soundcloud.com/sdk.js")
    %script(src="/js/application.js")
    :javascript
      // initialize client with app credentials
      SC.initialize({
        client_id: "60d45960c3088a13089d6a81752f5929",
        redirect_uri: "http://0.0.0.0:3000/"
      });
  %body
    = yield
