!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %title Application
    %link{rel: "stylesheet", href: "/css/lib/jquery-ui.min.css"}/
    %link{rel: "stylesheet", href: "/css/style.css"}/
    %script{src: "/js/lib/jquery.min.js"}
    %script{src: "/js/lib/jquery-ui.min.js"}
    %script{src: "/js/script.js"}
  %body
    = yield
