%section{id: "top"}
  %h1 â¤ï¸ SoundShuffle 
  %h2 Listen to a mix of your SoundCloud favorites.
  %button{id: "conn", type: "button", class: "btn btn-primary btn-lg"} Connect To SoundCloud

%section{id: "bottom"}
  = haml :'partials/player', :layout => false

